header.masthead {
  padding-top: calc(6rem + 72px);
  padding-bottom: 1rem;
  // border-bottom: 2.5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 1.3rem;
    @include varela-font;
    // @include body-font;
  }
}
@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(6rem + 106px);
    padding-bottom: 1rem;
    h1 {
      font-size: 4.75em;
      line-height: 4rem;
    }
    h2 {
      font-size: 1.75em;
    }
    img{
      // border-bottom: 5px solid
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
      border-radius: 50%;

    }
  }
}
