body{
    font-family: sans-serif;
}

.gallery{
	text-align: center;
	max-width: 2000px;
	margin: auto;
	margin-bottom: 5%;
}
.images{
	text-align: justify;
}
h1{
    margin: 30px 0px 50px;
	text-align: center;
}
#show-more{
	width: 15%;
	background: #1594e5;
	border-radius: 10px;
	color: #fff;
	font-family: sans-serif;
	font-size: 20px;
	display: block;
	cursor: pointer;
	text-align: center;
	padding: 10px;
	user-select: none;
	margin: 40px auto;
}
#show-more2{
	width: 15%;
	background: #1594e5;
	border-radius: 10px;
	color: #fff;
	font-family: sans-serif;
	font-size: 20px;
	display: block;
	cursor: pointer;
	text-align: center;
	padding: 10px;
	user-select: none;
	margin: 40px auto;
}
.hidden{
	display: none;
}
#show-more:active{
	background: #0a476d;
}
#show-more:hover{
	background: #1475b1;
}
#show-more2:active{
	background: #0a476d;
}
#show-more2:hover{
	background: #1475b1;
}
img{
   /* width: 300px;*/
	height: 200px;
    cursor: pointer;
}

/*Image Overlay*/
.overlay  {
    position: absolute;
    right: 0;
    left: 0;
    cursor: pointer;
    visibility: hidden;
    color: transparent;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: all ease-in .3s;
}
.overlay > img{
    height: 50%;
    width: 50%;
    top: 50%; 
    visibility: hidden;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
	width: 60px;
    height: 60px;
}
.overlay:hover > img{
    visibility: visible; 
}
.container2 {
    position: relative;
    display: inline-block;
	margin: 5px;
}
.container2:hover .overlay  {
    visibility: visible;
    opacity: .6;
    background: black;
    color: white;   
}

/*Loading Animation*/
.modal {
	display: none;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    z-index:    1000;
	margin: auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
body.loading {
    overflow: hidden;   
}
body.loading .modal {
    display: block;
}

/*Handler for Chrome browsers*/
@media screen and (-webkit-min-device-pixel-ratio:0) { 
      #images {
            margin-left: 25px;
			margin-right: auto;
      }
	  
	  #show-more{
		  width:150px;
      }
      #show-more2{
        width:150px;
    }
}